$green: #2ecc71;
$red: #e74c3c;

.text-green {
  color: $green;
}
.text-red {
  color: $red;
}

body {
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 100px;
}

.list-unstyled {
  list-style-type: none;
}

// SPIN

.spin {
  animation: spin 1000ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
